<h1>here is a header</h1>

<p><%= @recipe.title %></p>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.image_url %></p>

<p>I'm going to show you some information about a product</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8wlDP7UVfhPQjFguSWshmIIAuu3_Vr7zi0g&usqp=CAU">